{% extends "gencal/layout.html" %}

{% block pagetitle %}
    GenCal: Information
{% endblock %}

{% block main %}
    <p>This page is designed to help enterprising (addicted) Genshin Impact players to gather the materials they need to play their best. </p>
    <p>You'll specify your in-game goals, and we'll help provide a plan.</p>
    <p>In this particular section, we'll provide a weekly calendar to show when you can grind for various domain-gated materials to level talents, ascend characters, and ascend weapons.</p>

{% endblock %}